/*
 * https://fonts.google.com/icons
 */

.infobox, .warningbox, .tipbox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  display: inline-block;
  position: relative;
}

.infobox::before {
  font-family: "Material Icons";
  font-size: 2em;
  color: #7AA3E5;
  content: "\e88e";
  display: inline;
  position: absolute;
  transform: translate(-1.5em,0);
}

.warningbox::before {
  font-family: "Material Icons";
  font-size: 2em;
  color: #F3856E;
  content: "\e002";
  display: inline;
  position: absolute;
  transform: translate(-1.5em,0);
}

.tipbox::before {
  font-family: "Material Icons";
  font-size: 2em;
  color: #F7E873;
  content: "\e0f0";
  display: inline;
  position: absolute;
  transform: translate(-1.5em,0);
}

.ebox {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  display: inline-block;
}
